body {
  background-color: rgb(167, 167, 167);
  color: rgb(0, 0, 0);
  /* font-family:; */
  /* font-style: ; */
  font-family: inherit;
  font-style: bold;
}
td {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}
